.color-white {
    color: $white;
}

.color-white-2 {
    color: $color-text-3;
}

.color-primary {
    color: $color-primary;
}

.color-yellow {
    color: $color-yellow;
}

.text-error {
    color: red;
}

.section-padding {
    padding: 10rem 0 2rem;
    @media screen and (max-width: 767px) {
        padding: 4rem 0 2rem;
    }
}

.section-bg {
    background-color: $background;
}

.d-flex {
    @extend %d-flex;
}

.align-items-center {
    @extend %align-item-center;
}

.justify-content-center {
    @extend %justify-content-center;
}

.justify-content-between {
    @extend %justify-content-between;
}

.justify-content-end {
    @extend %justify-content-end;
}

.flex-1 {
    flex: 1;
}

.block-title {
    line-height: 5.6rem;
    font-weight: 800;
    color: $white;
    @media screen and (max-width: 767px) {
        line-height: 4.6rem;
        font-size: 3.4rem;
    }
}

.block-des {
    color: rgba(255, 255, 255, .8);
}

.list-item-ul {
    li {
        padding-top: 1.2rem;
        &:first-child {
            padding-top: 0;
        }
        span {
            color: $color-text-3;
            margin-left: 2rem;
            font-size: 1.8rem;
            font-weight: 500;
            flex: 1;
            line-height: 2.4rem;
        }
        strong {
            color: $color-yellow;
        }
    }
}

.item__gallery {
    position: relative;
    &--content {
        width: 100%;
        color: $white;
        @include position-absolute($bottom: 0, $left: 0);
    }
}

.d-block-xs {
    @media screen and (max-width: 767px) {
        display: block;
    }
}

.visiable-xs{
    display: none;
}

@media screen and (max-width: 767px) {
    .hidden-xs{
        display: none;
    }

    .visiable-xs{
        display: block;
    }
}


