.fpt-event {
    position: relative;
    z-index: 1;
    &:before {
        content: '';
        background: url('../image/banner-event.png') no-repeat;
        z-index: 0;
        background-position: left -264px;
        @include position-absolute($top: -99px, $left: 0);
        @include box(1600px, 901px);
    }
}
.fpt__event {
    &--item {
        background-color: $background-2;
        margin-top: 6rem;
        position: relative;
        @include transition();
        &:hover {
            @include box-shadow(0, 20px, 60px, rgba(0, 170, 91, 0.2));
        }
    }
    &--icon {
        z-index: 2;
        background: radial-gradient(50% 50% at 50% 50%, rgba(0, 170, 91, 0) 66.15%, rgba(0, 170, 91, 0.2) 100%);
        @include border-radius(999px); 
        @include box(120px);
        @extend %flex-center;
        @include position-absolute($top: -60px, $left: 24px);
    }
    &--top {
        padding: 0 2.4rem;
        min-height: 160px;
        background: url('../image/banner-title.png') no-repeat;
        background-size: cover;
        @extend %item-vert;
        h3 {
            padding-top: 3.5rem;
            font-weight: 600;
        }
    }
    &--content {
        padding: 2.4rem;
        height: calc(100% - 160px);
        flex-direction: column;
        @extend %d-flex;
        &-item {
            margin-top: 2rem;
            &:first-child {
                margin-top: 0;
            }
        }
        &-right {
            padding-left: 2rem;
            flex: 1;
        }
        .speaker__item {
            margin-top: .8rem;
            &:first-child {
                margin-top: 0;
            }
        }
    }
}

.slider-footer {
    position: relative;
    @extend %align-item-center;
    @extend %justify-content-center;
    .slider-arrow-control {
        position: relative;
        right: unset;
        left: unset;
        bottom: unset;
        top: unset;
        width: auto;
        @extend %d-flex;
    }
    .swiper-button-prev, .swiper-button-next {
        background-color: $background-2;
        margin-top: 0;
        @include border-radius(4px);
        @include box(40px);
        @extend %flex-center;
    }
    .swiper-button-prev {
        &:after {
            content: '';
            background: url('../image/arrow-left.png') no-repeat;
            @include box(12px, 20px);
            @extend %flex-center;
        }
    }
    .swiper-button-next {
        &:after {
            content: '';
            background: url('../image/arrow-right.png') no-repeat;
            @include box(12px, 20px);
            @extend %flex-center;
        }
    }
    .swiper-pagination {
        color: $color-primary;
        font-weight: 600;
        font-size: 1.8rem;
        padding: 0 1.6rem;
    }
}