.fpt-footer {
    background: url("../image/footer.png") no-repeat;
    background-size: cover;
    background-color: #32a7c9;
    .list-info {
        li {
            padding-left: 35px;

            &,
            a {
                color: #fff;
                font-size: 16px;
                line-height: 24px;
                font-weight: normal;
                position: relative;
            }

            & + li {
                margin-top: 28px;
            }
            img {
                position: absolute;
                left: 0;
                top: 2px;
            }
        }
    }
}

.footer {
    &__top {
        padding: 1.9rem 0;
    }

    &__center {
        padding: 8rem 0;
        border-top: 1px solid $color-line;
        @media screen and (max-width: 767px) {
            padding: 2.6rem 0;
        }
        .row:not(:last-child) {
            @media screen and (min-width: 767px) {
                margin-bottom: 2.5rem;
            }
        }
        .col-xs-12 {
            @media screen and (max-width: 767px) {
                margin-top: 2rem;
            }
        }
        .footer__item--address {
            p {
                font-weight: normal;
                opacity: 0.8;
            }
        }
    }

    &__logo {
        img {
            width: 110px;
            height: 96px;
        }
    }
}

.footer__social--list {
    ul {
        li {
            padding-left: 2rem;
            &:first-child {
                padding-left: 0;
            }
        }
    }
}

.fpt-copyright {
    background-color: #2b67d9;
    .fpt__copyright {
        height: 48px;
        color: #fff;
        font-size: 14px;
        line-height: 22px;
    }
}
