.fpt-header {
    background: url('../image/banner-header.png') no-repeat center;
    background-size: cover;
    background-color: #32A7C9;
}

.fpt-logo {
    padding: 2.5rem 0;
    @media screen and (max-width: 767px) {
        text-align: center;
    }

    img {
        width: 56px;
        height: 48px;
    }
}

.navigation {
    li {
        padding: 0 1.5rem;
        @extend %d-inline-flex;
        @media screen and (max-width: 767px) {
            display: block;
            text-align: center;
            width: 100%;
        }
        &:last-child {
            padding-right: 0;
        }
        a {
            position: relative;
            padding: 3.5rem 3px 12px;
            color: $white;
            font-weight: 600;
            font-size: 16px;
            margin-bottom: 30px;
            border-bottom: 2px solid transparent;

            @media screen and (max-width: 1024px) {
                padding: 1.5rem 0;
            }
            @media screen and (max-width: 767px) {
                padding: 1rem 0;
                display: block;
            }
        }
        &.active, &:hover, &:focus, &:active {
            a {
                font-weight: 800;
                border-color: #fff;
            }
        }
    }
}

.menu-mobile {
    display: none;
    @media screen and (max-width: 767px) {
        display: block;
        cursor: pointer;
        color: $white;
        transform: translateY(-50%);
        @include position-absolute($top: 50%, $left: 15px);
    }
}
.mobile__menu--wrapper {
    @media screen and (max-width: 767px) {
        display: none;
        background-color: $background-2;
        z-index: 2;
        width: 100%;
        @include position-absolute($top: 100%, $left: 0);
    }
    &.active {
        display: block;
    }
    > div {
        @media screen and (max-width: 767px) {
            justify-content: center;
        }
    }
}
