.fpt-container {
    position: relative;
    height: 100%;
    width: 100%;
    max-height: 100%;
    @include flex;
    flex-direction: column;

    .visable-xs{
        display: none;
    }
    
    @media screen and (max-width: 767px) {
        .hidden-xs {
            display: none;
        }
        .visable-xs {
            display: block;
        }
    }
    

    // .swiper-button {
    //     display: none;
    // }

    .fpt-swiper {
        flex: 1;
        min-height: 0;
        width: 100%;

        .swiper-wrapper {
            .swiper-slide {
                @include flex;
                justify-content: space-between;
                align-items: center;
                position: relative;

                @each $slide in $listSildes {
                    &:nth-child(#{$slide}) {
                        background: url(../image/bg-#{$slide}.png)
                            no-repeat
                            center;
                        background-size: cover;
                    }
                }

                &:nth-child(1),
                &:nth-child(4) {
                    background: url(../image/bg-orange.png) no-repeat center;
                    background-size: cover;
                }

                &:nth-child(5),
                &:nth-child(7) {
                    background: url(../image/bg-green.png) no-repeat center;
                    background-size: cover;
                }

                &:nth-child(3) {
                    background: url(../image/bg-blue.png) no-repeat center;
                    background-size: cover;
                }

                .text-gradient-orange {
                    background: -webkit-linear-gradient(#f35d09, #f3851e);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }

                .text-gradient-green {
                    background: -webkit-linear-gradient(#0db14b, #07cb32);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }

                .text-gradient-blue {
                    background: -webkit-linear-gradient(#0066b3, #1187e0);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }

                .left {
                    margin-left: 63px;
                }

                @keyframes float {
                    0% {
                        transform: translate(-50%, 0px);
                    }
                    50% {
                        transform: translate(-50%, -20px);
                    }
                    100% {
                        transform: translate(-50%, 0px);
                    }
                }

                .animate {
                    &.center {
                        animation: float 3s ease-in-out infinite;
                    }
                }

                &.slide-1 {
                    .left {
                        margin-bottom: -60px;
                        margin-left: 20px;
                        transition: all 0.5s ease;

                        &.move {
                            transform: translate(20px, -60px);
                        }
                    }

                    .center {
                        width: 600px;
                        position: absolute;
                        left: 47%;
                    }

                    .right {
                        width: 300px;
                        margin-right: 75px;
                        margin-bottom: 220px;
                        transition: all 1s ease;

                        &.move {
                            transform: translate(-55px, 80px);
                        }
                    }

                    @media screen and (min-width: 1600px) {
                        .left {
                            margin-bottom: -75px;
                            margin-left: 90px;
                            &.move {
                                transform: translate(48px, -50px);
                            }
                        }
                        .center {
                            width: 860px;
                            left: 48%;
                        }

                        .right {
                            width: 400px;
                            margin-right: 90px;
                            margin-bottom: 220px;
                            &.move {
                                transform: translate(-90px, 90px);
                            }
                        }
                    }
                }

                &.slide-2 {
                    .left {
                        margin-bottom: 120px;
                        margin-left: 119px;
                        transition: all 0.5s ease;

                        &.move {
                            transform: translate(-12%, 20%);
                        }
                    }

                    .right {
                        width: 270px;
                        margin-top: 75px;
                        margin-right: 160px;
                        transition: all 1s ease;

                        &.move {
                            transform: translate(15%, -36%);
                        }
                    }

                    @media screen and (min-width: 1600px) {
                        .left {
                            margin-bottom: 178px;
                            margin-left: 220px;
                            &.move {
                                transform: translate(-12%, 20%);
                            }
                        }

                        .right {
                            width: 300px;
                            margin-top: 60px;
                            margin-right: 270px;
                            &.move {
                                transform: translate(40px, -80px);
                            }
                        }
                    }
                }

                &.slide-3 {
                    .left {
                        margin-bottom: 200px;
                        transition: all 0.5s ease;

                        &.move {
                            transform: translate(0%, 50px);
                        }
                    }

                    .center {
                        width: 560px;
                        position: absolute;
                        left: 53%;
                    }

                    .right {
                        width: 300px;
                        margin-right: 130px;
                        margin-bottom: -40px;
                        transition: all 1s ease;

                        &.move {
                            transform: translate(0, -80px);
                        }
                    }

                    @media screen and (min-width: 1600px) {
                        .left {
                            margin-left: 150px;
                            margin-bottom: 170px;
                        }

                        .center {
                            width: 750px;
                            left: 54%;
                        }

                        .right {
                            width: 400px;
                            margin-right: 180px;
                            margin-bottom: 10px;
                            &.move {
                                transform: translate(0, -40px);
                            }
                        }
                    }
                }

                &.slide-4 {
                    .left {
                        margin-bottom: -30px;
                        transition: all 0.5s ease;

                        &.move {
                            transform: translate(0%, -40%);
                        }
                    }

                    .center {
                        width: 440px;
                        position: absolute;
                        left: 50%;
                    }

                    .right {
                        width: 300px;
                        margin-right: 75px;
                        margin-bottom: 210px;
                        transition: all 1s ease;

                        &.move {
                            transform: translate(0%, 60%);
                        }
                    }

                    @media screen and (min-width: 1600px) {
                        .left {
                            margin-left: 100px;
                        }

                        .center {
                            width: 600px;
                        }

                        .right {
                            width: 450px;
                            margin-right: 85px;
                            margin-bottom: 240px;
                            &.move {
                                transform: translate(0, 90px);
                            }
                        }
                    }
                }

                &.slide-5 {
                    .left {
                        margin-bottom: 40px;
                        transition: all 0.5s ease;

                        &.move {
                            transform: translate(0%, -20%);
                        }
                    }

                    .center {
                        width: 430px;
                        position: absolute;
                        left: 50%;
                    }

                    .right {
                        width: 300px;
                        margin-right: 140px;
                        margin-bottom: 200px;
                        transition: all 1s ease;

                        &.move {
                            transform: translate(0, 45px);
                        }
                    }

                    @media screen and (min-width: 1600px) {
                        .left {
                            margin-left: 140px;
                        }

                        .center {
                            width: 600px;
                        }

                        .right {
                            width: 360px;
                            margin-right: 180px;
                            margin-bottom: 200px;
                            &.move {
                                transform: translate(0, 45px);
                            }
                        }
                    }
                }

                &.slide-6 {
                    .right {
                        margin-right: 110px;
                        margin-bottom: 50px;
                    }

                    @media screen and (min-width: 1600px) {
                        .left {
                            margin-left: 100px;
                        }

                        .right {
                            margin-right: 140px;
                            width: 400px;
                        }
                    }
                }

                &.slide-7 {
                    .center {
                        width: 480px;
                        position: absolute;
                        left: 50%;
                    }

                    .right {
                        width: 340px;
                        margin-right: 123px;
                        margin-bottom: 40px;
                    }

                    @media screen and (min-width: 1600px) {
                        .left {
                            margin-left: 100px;
                        }

                        .right {
                            width: 450px;
                            margin-right: 160px;
                            margin-bottom: 80px;
                        }
                    }
                }

                &.slide-8 {
                    .right {
                        width: 300px;
                        margin-right: 110px;
                        margin-bottom: 40px;
                    }

                    @media screen and (min-width: 1600px) {
                        .left {
                            margin-left: 150px;
                        }

                        .right {
                            width: 400px;
                            margin-right: 160px;
                            margin-bottom: 30px;
                        }
                    }
                }
            }
        }
    }

    .fpt-swiper-thumbs {
        position: absolute;
        bottom: 0;
        height: 77px;
        background: rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(16px);
        width: 100%;

        @media screen and (max-width: 1366px) {
            height: 62px;
        }

        .swiper-wrapper {
            position: relative;
            padding: 0 24px;
            &::before {
                content: "";
                border-top: 1px solid rgba(255, 255, 255, 0.5);
                position: absolute;
                top: 1px;
                width: 100%;
                left: -24px;
            }
            .swiper-slide {
                width: calc((100% - 48px) / 8) !important;
                text-align: center;
                @include flex;
                @extend %flex-center;
                position: relative;
                cursor: pointer;
                padding: 0 36px;

                &.swiper-slide-thumb-active {
                    &::before {
                        content: "";
                        border-top: 2px solid $color-orange;
                        width: calc(100% - 72px);
                        position: absolute;
                        top: 0;
                    }
                }

                @media screen and (max-width: 1600px) {
                    padding: 0;
                    &.swiper-slide-thumb-active {
                        &::before {
                            width: 100%;
                        }
                    }
                }

                span {
                    color: #000;
                    font-size: 13px;
                }
            }
        }

        .swiper-button {
            visibility: hidden;
        }
    }

    .hotline {
        font-size: 12px;
        line-height: 18px;
        z-index: 99;

        &.hotline-fix {
            position: fixed;
            bottom: 131px;
            right: 60px;
        }

        .title {
            margin-bottom: 4px;
        }
        p:not(.title) {
            font-family: "Saira";
        }
    }

    .stepper-wrapper {
        margin-top: auto;
        position: fixed;
        height: 200px;
        right: 60px;
        bottom: 40%;
        width: 20px;
        display: flex;
        flex-direction: column;
        z-index: 99;

        .stepper-item {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            flex: 1;

            &:not(:first-of-type):before {
                position: absolute;
                content: "";
                border-left: 1px solid #c4c4c4;
                height: 100%;
                top: -55%;
                left: 11px;
                z-index: 2;
            }

            &:not(:last-of-type)::after {
                position: absolute;
                content: "";
                border-bottom: 1px solid #c4c4c4;
                height: 100%;
                left: 20px;
                top: 50%;
                z-index: 2;
            }

            &:last-of-type {
                margin-bottom: -4px;
            }

            &.active {
                .step-counter {
                    position: relative;
                    z-index: 5;
                    left: 1px;
                    width: 9px;
                    height: 9px;
                    border-radius: 50%;
                    border: 1px solid #4f565f;
                    background-color: #e8eaec;
                }
            }
        }

        .number {
            font-size: 12px;
            &.total-slide {
                // margin-top: -8px;
            }
        }
    }
}
