.fpt-job {
    padding-bottom: 10rem;
    @media screen and (max-width: 767px) {
        padding-bottom: 4rem;
    }
}
.fpt__job {
    &--item {
        position: relative;
        z-index: 1;
        background-color: rgba(13, 34, 40, 0.7);
        @include box-shadow(0, 4px, 12px, rgba(0, 0, 0, 0.08));
        &:before {
            content: '';
            background: url('../image/border-left-top.png') no-repeat;
            @include box(100%);
            @include position-absolute($top: 0, $left: 0);
        }
        &:after {
            content: '';
            background: url('../image/border-right-bottom.png') no-repeat;
            @include box(331px, 248px);
            @include position-absolute($bottom: 0, $right: 0);
        }
    }
    &--title {
        padding: 2.8rem;
        background-color: rgba(0, 170, 91, 0.1);
    }
    &--content {
        padding: 2.8rem;
        &-item {
            border-top: 1px solid rgba(0, 170, 91, 0.1);
            padding: 1.6rem 0;
            &:first-child {
                border-top: none;
                padding-top: 0;
            }
        }
    }
}