.modal {
    text-align: center;
    .modal-dialog {
        display: inline-block;
        text-align: left;
        vertical-align: middle;
        .modal-content {
            padding: 40px;
            @include border-radius(15px);
            .modal-header {
                padding: 0 0 20px;
                justify-content: center;
                border: 0;
                .modal-title {
                    font-size: 24px;
                    font-weight: 700;
                    text-align: center;
                }
            }

            .modal-body {
                padding: 0;
            }

            .modal-footer {
                border: 0;
                padding: 0;
                text-align: center;
                .btn-register {
                    width: 100%;
                    margin: 0 40px;
                    height: 36px;
                }
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .modal:before {
        display: inline-block;
        vertical-align: middle;
        content: " ";
        height: 100%;
    }
}
