
.block-left-content {
    padding-right: 8.5rem;
    @media screen and (max-width: 1024px) {
        padding-right: 0;
    }
}
.form__wrapper {
    z-index: 2;
    position: relative;
}
.register-wrapper {
    padding: 2.4rem;
    position: relative;
    background-color: rgba(13, 34, 40, 0.7);
    @include box-shadow(0, 4px, 12px, rgba(0, 0, 0, 0.08));
    @media screen and (max-width: 767px) {
        margin-top: 3rem;
    }
    &:before {
        content: '';
        background: url('../image/border-left-top.png') no-repeat;
        @include box(100%);
        @include position-absolute($top: 0, $left: 0);
    }
    &:after {
        content: '';
        background: url('../image/border-right-bottom.png') no-repeat;
        @include box(331px, 248px);
        @include position-absolute($bottom: 0, $right: 0);
    }
    h3 {
        text-align: center;
        color: $color-primary;
        text-transform: uppercase;
        line-height: 2.5rem;
        font-weight: 800;
    }
    .btn {
        margin-top: .8rem;
    }
}

.header-banner-title {
    text-transform: capitalize;
    line-height: 6rem;
    @media screen and (max-width: 1024px) {
        line-height: 4rem;
    }
}

.link-register {
    font-size: 3.2rem;
    font-weight: 800;
    color: $color-primary;
    margin-top: 1.2rem;
    @extend %d-flex;
    @extend %align-item-center;
    @media screen and (max-width: 1024px) {
        font-size: 2.4rem;
    }
    i {
        margin-left: 2.8rem;
        @media screen and (max-width: 1024px) {
            margin-left: 1rem;
        }
    }
}

.icon-arrow-right {
    background: url('../image/icon-arrow.png') no-repeat center;
    @include box(160px, 32px);
    @extend %d-inline-flex;
}