.block-left-content {
  padding-right: 8.5rem;
  @media screen and (max-width: 1024px) {
    padding-right: 0;
  }
}
.form__wrapper {
  z-index: 2;
  position: relative;
}

.row-padding-8 {
  margin-left: -8px;
  margin-right: -8px;
  [class*="col-"] {
    padding-left: 8px;
    padding-right: 8px;
  }
}

.required {
  color: $color-yellow;
}

.form-register {
  .form-content {
    .form-header {
      position: relative;
      .form-title {
        text-align: center;
        font-weight: bold;
        font-size: 24px;
        line-height: 33px;
      }
      .btn-close {
        position: absolute;
        right: -18px;
        top: -22px;
        width: 36px;
        height: 36px;
        background: #fff;
        border-radius: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          width: 14px;
          height: 14px;
        }

        &:hover,
        &:focus {
          background: rgba(19, 24, 62, 0.1);
        }
      }
    }

    .form-body {
      padding: 30px 0 0;
    }

    .form-footer {
      border: 0;
      padding: 0;
      text-align: center;
      @include flex;

      .btn-link-register {
        width: 100%;
        margin: 20px 40px 5px 40px;
        height: 36px;
      }

      .btn-submit {
        width: 100%;
        height: 48px;
        background: $color-yellow;
        color: #fff;
        border-radius: 4px;
        font-weight: bold;
        font-size: 16px;
        line-height: 22px;
        &:focus {
            outline: 0;
        }
      }
    }

    &.content-done {
      .form-body {
        text-align: center;
        padding: 30px 30px 0;
        .main-text {
          margin: 28px 0 40px;
          font-size: 16px;
          line-height: 24px;
          color: #13183e;
        }
      }

      .form-footer {
        display: block;
        .btn-submit {
          width: 80%;
        }
      }
    }
  }

  // @media screen and (max-width: 1600px) {
  //     .form-content {
  //         padding: 24px;
  //         .form-header {
  //             padding-bottom: 10px;
  //         }

  //         .form-body {
  //             .form-group {
  //                 margin-bottom: 10px;
  //                 .label {
  //                     font-size: 11px;
  //                 }

  //                 .form-controll {
  //                     font-size: 14px;
  //                 }
  //             }
  //             .form-upload-file {
  //                 margin-bottom: 15px;
  //                 .custom-file-upload {
  //                     height: 32px;
  //                     padding: 4px;
  //                     font-size: 11px;

  //                     .icon-upload {
  //                         width: 16px;
  //                         height: 16px;
  //                     }
  //                 }
  //             }
  //         }
  //     }
  // }
}
