.btn {
    border: none;
    padding: 1.2rem 2rem;
    color: $white;
    @include transition();
    &:hover {
        color: $color-primary;
    }
}
.btn-larger {
    font-weight: 600;
    padding: .9rem;
    font-size: 2rem;
}

.btn-full {
    width: 100%;
}

.btn-width-370 {
    width: 370px;
}

.btn-success {
    background-color: $color-primary;
    color: $white;
    &:hover {
        color: $white;
    }
}

.btn-icon-left {
    background-color: rgba(0, 170, 91, 0.3);
    font-weight: 800;
    font-size: 1.8rem;
    @extend %d-inline-flex;
    @extend %align-item-center;
    @include border-radius(4px);

    @media screen and (max-width: 576px) {
        max-width: 100%;
        width: 100%;
        padding: 1.2rem 1rem;
    }
}

.btn-outline {
    border: 1px solid $color-primary;
    font-size: 1.8rem;
    color: $white;
    padding: .7rem 0;
    @include border-radius(4px);
    @extend %flex-center;
}

.btn-outline-width-242 {
    width: 242px;
}