.gutter-12 {
    @include gutter(12);
}
.gutter-30 {
    @include gutter(30);
}

.form-control {
    min-height: 32px;
    font-size: 1.6rem;
    line-height: 2rem;
    padding: 0.4rem 0.8rem;
    border-width: 0 0 2px 0;
    border-color: #e1e4e6;
    color: $black;

    @media screen and (max-width: 1366px) {
        font-size: 14px;
        min-height: 28px;
    }

    @include placeholder {
        color: $placeholder;
    }

    &:focus {
        outline: 0;
        border-color: darken(#e1e4e6, 10%);
        box-shadow: none;
    }
}

.form-group {
    margin-bottom: 1.6rem;
    label {
        color: #292d32;
        font-weight: 600;
        font-size: 12px;
        text-transform: uppercase;
        line-height: 1.6rem;
        margin: 0 0 6px 8px;

        @media screen and (max-width: 1366px) {
            font-size: 11px;
        }
    }
}

select {
    display: block;
    width: 100%;
    min-height: 32px;
    color: $black;
    padding: 0 3rem 0 0.8rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("../image/down-icon.png");
    background-size: 16px 8px;
    background-repeat: no-repeat;
    background-position-x: 98%;
    background-position-y: 12px;
}

.fpt-textarea {
    min-height: 62px;
    resize: none;
    width: 100%;
    padding: 1rem 0.8rem;
    color: $color-text-2;
    @include placeholder {
        color: $placeholder;
    }
}

.fpt-select {
    display: block;
    width: 100%;
    min-height: 32px;
    color: $placeholder;
    padding: 0 0.5rem;
}

.form-upload-file {
    margin-top: 12px;
    margin-bottom: 25px;

    input[type="file"] {
        display: none;
    }
    .custom-file-upload {
        width: 100%;
        margin: 0;
        border: 2px dashed #c4c4c4;
        box-sizing: border-box;
        display: inline-block;
        height: 45px;
        padding: 12px;
        cursor: pointer;
        margin: 0;
        text-align: center;
        font-size: 12px;
        font-weight: 600;
        .icon-upload {
            width: 18px;
            height: 18px;
            margin-right: 10px;
            margin-bottom: 2px;
        }
    }
}
