// =============== Color Main ====================
$color-primary: #4cb848;
$color-secondary: #273748;
$color-yellow: #f37121;
$color-text: #33436a;
$color-text-2: #202244;
$color-text-3: rgba(255, 255, 255, 0.8);
$white: #ffffff;
$placeholder: rgba(32, 34, 68, 0.5);
$color-gray: #f2f5f4;
$color-line: rgba(0, 170, 91, 0.1);
$background: #08161b;
$background-2: #0f1e23;

// =============== Font size =====================
$font-size: 1.6rem;
$font-h1: 5.6rem;
$font-h2: 4.4rem;
$font-h3: 2.4rem;
$font-h4: 2rem;
$font-h5: 1.8rem;
$font-h6: 1.6rem;
$listFontsize: 12, 14, 20;

@font-face {
    font-family: "OpenSans";
    src: url("../font/OpenSans-Regular.ttf");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "OpenSans";
    src: url("../font/OpenSans-Medium.ttf");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "OpenSans";
    src: url("../font/OpenSans-SemiBold.ttf");
    font-style: normal;
    font-weight: 600;
}

// @font-face {
//     font-family: "OpenSans";
//     src: url("../font/OpenSans-Bold.ttf");
//     font-style: normal;
//     font-weight: 700;
// }

@font-face {
    font-family: "OpenSans";
    src: url("../font/OpenSans-Bold.ttf");
    font-style: normal;
    font-weight: 800;
}
// ================= Margin =======================
$listMargin: 8, 12, 15, 20, 28, 30, 40, 50, 60, 80, 100;
