// =============== Color Main ====================
$color-primary: #00AA5B;
$color-secondary: #273748;
$color-yellow: #FF8D00;
$color-text: #33436A;
$color-text-2: #202244;
$color-text-3: rgba(255, 255, 255, .8);
$white: #ffffff;
$placeholder: rgba(32, 34, 68, 0.5);
$color-gray: #F2F5F4;
$color-line: rgba(0, 170, 91, .1);
$background: #08161B;
$background-2: #0F1E23;

// =============== Font size =====================
$font-size: 1.6rem;
$font-h1: 5.6rem;
$font-h2: 4.4rem;
$font-h3: 2.4rem;
$font-h4: 2rem;
$font-h5: 1.8rem;
$font-h6: 1.6rem;
$listFontsize: 12, 14, 20;
@font-face {
    font-family: 'SVN-Gilroy';
    src: url('../font/SVN-Gilroy-Regular.otf');
    font-style: normal;
    font-weight: normal;
}
  
@font-face {
    font-family: 'SVN-Gilroy';
    src: url('../font/SVN-Gilroy-Bold.otf');
    font-style: normal;
    font-weight: 600;
}
  
@font-face {
    font-family: 'SVN-Gilroy';
    src: url('../font/SVN-Gilroy-SemiBold.otf');
    font-style: normal;
    font-weight: 700;
}
  
@font-face {
    font-family: 'SVN-Gilroy';
    src: url('../font/SVN-Gilroy-Medium.otf');
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: 'SVN-Gilroy';
    src: url('../font/SVN-Gilroy\ XBold.otf');
    font-style: normal;
    font-weight: 800;
}
// ================= Margin =======================
$listMargin: 8, 12, 15, 20, 28, 30, 40, 50, 60;