@media screen and (max-width: 767px) {
    .fpt-container {
        .hotline-fix,
        .stepper-wrapper,
        .icon-arrow,
        .text-focus,
        .home-page {
            display: none;
        }

        &.page-register {
            .fpt-swiper-thumbs,
            .header {
                display: none;
            }
        }

        .header {
            padding: 25px 18px;
            .logo {
                top: 14px;
                img {
                    width: 50px;
                    height: 40px;
                }
            }

            .header-right {
                .btn-register {
                }
            }
        }

        .fpt-swiper {
            .swiper-wrapper {
                .swiper-slide {
                    flex-direction: column;
                    justify-content: space-between;

                    &.slide-1,
                    &.slide-4 {
                        background: url(../image/bg-orange-mobile.png) no-repeat
                            center;
                        background-size: cover;
                    }

                    &.slide-2,
                    &.slide-5,
                    &.slide-7 {
                        background: url(../image/bg-green-mobile.png) no-repeat
                            center;
                        background-size: cover;
                    }

                    &.slide-2.swiper-slide-active {
                        background: url(../image/bg-2-mobile.png) no-repeat
                            center;
                        background-size: cover;
                    }

                    &.slide-3 {
                        background: url(../image/bg-blue-mobile.png) no-repeat
                            center;
                        background-size: cover;
                    }

                    &.slide-6 {
                        background: url(../image/bg-6-mobile.png) no-repeat
                            center;
                        background-size: cover;
                    }

                    @keyframes float-mobile {
                        0% {
                            transform: translate(0, 0px);
                        }
                        50% {
                            transform: translate(0, -20px);
                        }
                        100% {
                            transform: translate(0, 0px);
                        }
                    }

                    .animate {
                        &.center {
                            animation: float-mobile 3s ease-in-out infinite;
                            left: unset;
                        }
                    }

                    .center {
                        position: relative !important;
                    }

                    &.slide-1 {
                        .top {
                            width: 300px;
                            margin-top: 90px;
                        }
                        .center {
                            visibility: hidden;
                        }
                        &.swiper-slide-active {
                            .center {
                                visibility: visible;
                                width: 400px;
                            }
                        }

                        .bottom {
                            width: 300px;
                            margin-bottom: 90px;
                            margin-left: 40px;
                        }
                    }

                    &.slide-2 {
                        .top {
                            width: 300px;
                            margin-top: 65px;
                        }
                        .center {
                            width: 350px;
                        }

                        .bottom {
                            width: 250px;
                            margin-bottom: 60px;
                            margin-left: 0;
                        }
                    }

                    &.slide-3 {
                        .top {
                            width: 210px;
                            margin-top: 70px;
                        }
                        .center {
                            width: 350px;
                            margin-left: 55px;
                        }

                        .bottom {
                            width: 330px;
                            margin-bottom: 150px;
                            margin-left: 10px;
                        }
                    }

                    &.slide-4 {
                        .top {
                            width: 230px;
                            margin-top: 100px;
                        }
                        .center {
                            width: 300px;
                        }

                        .bottom {
                            width: 260px;
                            margin-bottom: 100px;
                            margin-left: 30px;
                        }
                    }

                    &.slide-5 {
                        .top {
                            width: 300px;
                            margin-top: 75px;
                        }
                        .center {
                            width: 260px;
                        }

                        .bottom {
                            width: 270px;
                            margin-bottom: 150px;
                            margin-left: 0;
                        }
                    }

                    &.slide-6 {
                        .top {
                            width: 300px;
                            margin-top: 80px;
                        }
                        .center {
                            width: 400px;
                        }

                        .bottom {
                            width: 300px;
                            margin-bottom: 40px;
                            margin-left: 0;
                        }
                    }

                    &.slide-7 {
                        .top {
                            width: 200px;
                            margin-top: 70px;
                        }
                        .center {
                            width: 300px;
                            left: 0;
                            left: 50%;
                            position: absolute !important;
                            top: 285px;
                            transform: translate(-50%, -50%);
                        }

                        .bottom {
                            width: 300px;
                            margin-bottom: 70px;
                            margin-left: 0;
                        }
                    }

                    &.slide-8 {
                        padding: 10px;
                        .form-resiter {
                            width: 100%;
                            top: 50%;
                            transform: translate(-50%, -50%);

                            .form-content {
                                padding: 30px 24px;
                                .form-header {
                                    position: relative;
                                    .back-icon {
                                        width: 20px;
                                        height: 20px;
                                        position: absolute;
                                        left: 8px;
                                        top: 4px;
                                    }

                                    .form-title {
                                        padding-left: 25px;
                                    }
                                }
                                .form-footer {
                                    margin-top: 25px;
                                }
                            }
                        }
                    }
                }
            }
        }

        .fpt-swiper-thumbs {
            height: 48px;
            .swiper-wrapper {
                padding: 0;
                &::before {
                    left: 0;
                    width: calc((100%*7));
                }

                .swiper-slide {
                    width: 100% !important;
                    &.swiper-slide-thumb-active {
                        &::before {
                            content: none;
                        }
                    }
                    &.swiper-slide-active {
                        &::before {
                            content: "";
                            border-top: 2px solid $color-orange;
                            width: 50%;
                            position: absolute;
                            top: 0;
                        }
                    }
                }
            }

            .swiper-button {
                opacity: 1;
                top: 24px;
                visibility: visible;

                &::after {
                    color: #fff;
                    font-size: 18px;
                }
            }
        }
    }
}
